@import url(https://fonts.googleapis.com/css?family=Roboto:100);

* {
  font-family: 'Roboto';
  font-weight: 600;
}

body {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  background-color: rgb(228, 228, 228);
}
.iOS-calculator {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;  
  width: 300px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
}

#top-left-area{
  display: flex;
  padding: 5px;
}

.close, .minimize, .maximize{
  width: 15px;
  height: 15px;
  background-color: rgb(148, 148, 148);
  border-radius: 50%;
  margin-left: 10px;
  cursor: pointer;
}
.result-area {
  width: 100%;
  background-color: rgb(38, 38, 38);
  color: white;
  border-radius: 5px 5px 0px 0px;
  
}
.result-area  p {
  padding-top: 45px ;
  padding-right: 10px;
  text-align: right;
  line-height: 30px;
  font-size: 52px;
  margin-bottom: 10px;
}
span {
  box-sizing: border-box; 
  font-size: 26px;
  text-align: center;
  cursor: pointer;
  width: 25%;
  background-color: rgb(101, 101, 101);
  line-height: 50px;
  border: 1px solid rgb(28, 28, 28);
  color: white;
  font-weight: bolder;
}
.operator {
  background-color: #f08c00;  
}
.double {
  width: 50%;
}
.grey {
  background-color: rgb(133, 133, 133);
}


